<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>Welcome to the fan made Star Gazer's APOD site!</p>
      <p>We hope to help share and spread the amazing information provided straight from NASA to better appreciate space.</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Join the Newsletter!</h3>
      <p>If you are looking to get the APOD send to you directly daily, then you've come to the right place!</p>
      <p>Our newsletter is daily email where you can have NASA's official Astronomy Picture of the day sent to you directly daily. If you signup, you will recieve a email daily at 8 AM Eastern Time with the offical APOD and information.
        It is and always will be free too! Signup is easy, thanks to Twilio, and unsubcribing is easy and painless.
      </p>
      <a href="signup">Sign-Up Here!</a>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>