<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <div class="mb-2 text-center">
          <h1>NASA Live</h1>
          <span>The Official Live stream from NASA</span>
          <p>NASA TV airs a variety of regularly scheduled, pre-recorded educational and public relations programming 24 hours a day on its various channels. The network also provides an array of live programming, such as coverage of missions, events (spacewalks, media interviews, educational broadcasts), press conferences and rocket launches.</p>
        </div>
        <div>
        <iframe width="100%" height="630" src="https://www.youtube.com/embed/21X5lGlDOfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>